<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ifinances?useSSL=false</property>
        <property name="connection.username">nidim</property>
        <property name="connection.password">3464</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

		<property name="format_sql">true</property>
		
		<property name="hibernate.id.new_generator_mappings">false</property>
		
        <mapping class="com.binovizer.data.entities.User"/>
        <mapping class="com.binovizer.data.entities.Bank"/>
        <mapping class="com.binovizer.data.entities.Account"/>
        <mapping class="com.binovizer.data.entities.Transaction"/>
        <mapping class="com.binovizer.data.entities.Credential"/>
        <mapping class="com.binovizer.data.entities.Currency"/>
        <mapping class="com.binovizer.data.entities.Market"/>

    </session-factory>

</hibernate-configuration>